{% extends "nav.html" %}

{% block content %}

<div class="container">

    <div class="row justify-content-center pt-3">
        <div class="col-12 text-center land_para">
            <h1>Unlock Your Potential</h1>
            <h4>Drive B2B Sales with Precise and Intelligent Geocoding</h4>
            <img src="../../static/images/low_sharp.jpg" alt="Map of US" id="map-pic">
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-12 col-md-6 text-center pt-2">
            <img src="../../static/images/pin-map.jpg" alt="Map of US" id="map-pic">
        </div> -->
        <div class="col-12 text-center pt-2">
            <p class="land_para">
                Building web apps that automate tasks and solve problems is a favorite activity of mine.  After watching my wife 
                painfully plan her schedule time and time again, I decided to make a website to help alleviate her problems.
                With her help my plan has come to fruition.  You can now use Geocoding Solutions to plot your sales territory quickly
                and easily.
            </p>
            <p class="land_para">
                I'm currently still working on this project and will continue to update it in the future.  If you have any
                questions or concerns, feel free to reach out in the <b>Contact Me</b> tab.  
                Otherwise, <b>Sign Up</b> if you haven't already, and enjoy adding data to your <b>Map</b>.
            </p>
        </div>
    </div>

</div>


{% endblock content %}