{% extends 'nav.html' %}

{% block content %}

<div class="container mt-4">

    <div class="row justify-content-center">
        
		<div class="col-12 text-center"><h4>Hello {{ current_user.username }}, See Below to Edit Your Map</h4></div>

		<div class="col-10 col-md-6 text-center" id="map">

			<script>

				var i = 1
				var map = tt.map({
					key: "Xt9nHjAzfJLpY1CFEFJAmoxtFlBE9gAe",
					center: [-82.4076, 27.7731],
					container: "map",
					stylesVisibility: {
					trafficIncidents: true,
					trafficFlow: true
					},
					zoom: 9,
				})


				const addTableMarker = (longitude, latitude, color, name) => {
					let storeName = name
					let newPopupColor = `popup-color${i}`
					let changedColor = `marker${i}`

					let popupDiv = document.createElement('div')
					popupDiv.innerHTML = `${storeName}<br><input type="color" id="popup-color${i}" name="popup-color" onchange="changePopup('${newPopupColor}','${changedColor}')"><br>`                             
					popupDiv.style.textAlign = "center"

					let popup = new tt.Popup({
						closeButton: false,
						offset: 22,
						anchor: "bottom"
					}).setDOMContent(popupDiv)

					const element = document.createElement("div")
					element.className = `marker${i}`
					const marker = new tt.Marker({
					draggable: true,
					element: element,
					}).setLngLat([longitude, latitude]).setPopup(popup).addTo(map)

					let setColor = document.querySelector(`.marker${i}`)
					setColor.style.backgroundColor = color
					setColor.style.backgroundSize = "cover"
					setColor.style.height = "22px"
					setColor.style.width = "22px"
					setColor.style.borderRadius = "11px"
					setColor.style.border = "solid 3px darkslategray"
					i++   
				}   
				
				
				const addExcelMarkers = (longitude, latitude, color, name) => {
					let storeName = name
					let newPopupColor = `popup-color${i}`
					let changedColor = `marker${i}`

					let popupDiv = document.createElement('div')
					popupDiv.innerHTML = `${storeName}<br><input type="color" id="popup-color${i}" name="popup-color" onchange="changePopup('${newPopupColor}','${changedColor}','${storeName}')"><br>`                             
					popupDiv.style.textAlign = "center"
					
					let popup = new tt.Popup({
						closeButton: false,
						offset: 22,
						anchor: "bottom"
					}).setDOMContent(popupDiv)


					const element = document.createElement("div")
					element.className = `marker${i}`
					const marker = new tt.Marker({
					draggable: true,
					element: element,
					}).setLngLat([longitude, latitude]).setPopup(popup).addTo(map)

					let setColor = document.querySelector(`.marker${i}`)
					setColor.style.backgroundColor = color
					setColor.style.backgroundSize = "cover"
					setColor.style.height = "22px"
					setColor.style.width = "22px"
					setColor.style.borderRadius = "11px"
					setColor.style.border = "solid 3px darkslategray"
					i++   
				} 

				
				const changePopup = (classColor, newBackColor, name) => {
					let newColor = document.getElementById(classColor)
					let finalColor = newColor.value
					let bgColor = document.querySelector(`.${newBackColor}`)
					bgColor.style.backgroundColor = newColor.value
					if (name !== '') {
						dictNum = 0
						Object.keys(localStorage).forEach((key) => {
							let storedItem = JSON.parse(localStorage[key])
							if (storedItem["name"] === name) {
								storedItem["color"] = finalColor
								localStorage[key] = JSON.stringify(storedItem)
								return
							}
							dictNum++
						})
					}
				} 
			
			</script>
		</div>
    

		<div class="col-12 col-md-9 text-center mb-4" id="search">
			<!-- Form to Send Data To DataBase -->

			<form method="POST" id="db-marker">
				<h1>Add A Store</h1>
				<div class="form-group mb-4">
					{{ form.hidden_tag() }}
					<fieldset class="store-name-field mt-2">
						{{ form.store_name.label }}
						{{ form.store_name(class="form-control", placeholder="Enter Store Name") }}
					</fieldset>
					<fieldset class="address-field mt-2">
						{{ form.address.label }}
						{{ form.address(class="form-control", placeholder="Enter an Address") }}
					</fieldset>
					{{ form.submit_button(class="btn btn-warning btn-block mt-2") }}
				</div>
			</form>

			<button id="remove_all" class="btn btn-primary btn-block mb-2" onclick="removeAll()">Remove All Excel Imports</button>

			<div class="table-container">
				<table class="table table-dark mb-2" id="my-table">
					<thead>
					<tr>
						<th scope="col">Store Name</th>
						<th scope="col">Address</th>
						<th scope="col">Modify</th>
					</tr>
					</thead>
					{% for marker in markers %}
						<tbody>
						<tr>
							<td class="plot-names">{{ marker.store_name }}</td>
							<td class="plot-address">{{ marker.address }}</td>
							<td>
								<a onclick="showForm(this.id); return false" href="#" id="f{{marker.id}}">Edit</a> or 
								<a href="http://127.0.0.1:5000/api/markers/{{marker.id}}/delete">Delete</a>
							</td>
						</tr>
						</tbody>
					{% endfor %}
				</table>
			</div>
			

			<!-- Update Popup Hidden Form -->
			
			
				{% for marker in markers %}
				<div id="f{{marker.id}}" class="form-popup">
				<form id="db-marker" action="{{url_for('api.update_marker')}}">				
					<h1>Edit An Existing Store</h1>
					<div class="form-group">
						{{ form.hidden_tag() }}
						<input type="hidden" name="marker_id" value="{{marker.id}}" class="update_popup_marker">
						<fieldset class="store-name-field mt-2">
							{{ form.store_name.label }}
							{{ form.store_name(id="update-store", class="form-control", placeholder="Enter Store Name") }}
						</fieldset>
						<fieldset class="address-field mt-2">
							{{ form.address.label }}
							{{ form.address(id="update-address", class="form-control", placeholder="Enter an Address") }}
						</fieldset>
						{{ form.submit_button(class="btn btn-warning btn-block mt-2") }}
						<button class="btn btn-primary btn-block mt-2" type="button" onclick="closeForm(this.id)" id="f{{marker.id}}">Cancel</button>
					</div>
				</form>
				</div>	
				{% endfor %}
			
				
			<!-- Form to Send Excel Data -->
			
			<h3 id="format">
				To upload your excel file be sure to format the document correctly. There must be 5 columns.
				From left to right it should be Store Name, Street Address, City, State, Zip Code. See Example Below. 
				After uploading the file wait for all points to appear on the map and then refresh the page.<br>
			</h3>
			<div id="ex"><h3>Example Table</h3></div>
			<table class="table table-light mb-2">
				<thead>
				<tr>
					<th scope="col" class="example_table">Store Name</th>
					<th scope="col" class="example_table">Street Address</th>
					<th scope="col" class="example_table">City</th>
					<th scope="col" class="example_table">State</th>
					<th scope="col" class="example_table">Zip Code</th>
				</tr>
				<tr>
					<td scope="col" class="example_table">Example's R Us</td>
					<td scope="col" class="example_table">123 Example Blvd</td>
					<td scope="col" class="example_table">Tampa</td>
					<td scope="col" class="example_table">FL</td>
					<td scope="col" class="example_table">33592</td>
				</tr>
				</thead>
			</table>
			<input type="file" name="file-input" id="file-input" accept=".xlsx" required>

			<div id="insert-excel-table">

			</div>
		
		</div>


        <script>

            const input = document.getElementById("file-input")
            const table = document.getElementById("insert-excel-table")
			

            input.addEventListener('change', (event) => {
                const file = event.target.files[0]
                readXlsxFile(file).then((rows) => {
                    let lenRows = rows.length
					console.log(rows)

                    let delay = 0;
                    let offset = 333;

                    for (let store of rows) {
                    setTimeout(() => {
                    getCoordinates(
                    `${store[1]}, ${store[2]}, ${store[3]} ${store[4]}`,
                    "rgb(120, 120, 120)",
                    store[0]
                    );
                    }, (delay += offset));
                    }
                })
            })

			function loadExcelPoints() {
				let spanNum = 0
				Object.keys(localStorage).forEach((key) => {
					let newLong = JSON.parse(localStorage.getItem(key))
					let table = document.getElementById("my-table")
					let row = table.insertRow(-1)
					let c1 = row.insertCell(0)
					let c2 = row.insertCell(1)
					let c3 = row.insertCell(2)
					c1.innerHTML = newLong["name"]
					c2.innerHTML = newLong["address"]
					c3.innerHTML = `<span id='edit${spanNum}' onclick='editExcel("edit${spanNum}")'>Edit</span> or 
									<span id='excel${spanNum}' onclick='deleteExcel("excel${spanNum}")'>Delete</span>`
                    addExcelMarkers(newLong["long"], newLong["lat"], newLong["color"], newLong["name"]);
					spanNum++
				})
			}

			var num = 0
            const getCoordinates = async (address, color, name='') => {
                let response = await axios.get(`https://api.tomtom.com/search/2/geocode/${address.replace("/\s/g, ''")}.json?key=Xt9nHjAzfJLpY1CFEFJAmoxtFlBE9gAe`)
                let longitude = response.data["results"][0]["position"]["lon"]
                let latitude = response.data["results"][0]["position"]["lat"] 
                if (name === '') {
                    addMarker(longitude, latitude, color)
                } else {
					localStorage.setItem(num, JSON.stringify({"long": longitude, "lat": latitude, "name": name, "color": color, "address": address}))
					num++
                    addExcelMarkers(longitude, latitude, color, name)
                }
            }

			// Load Markers on to the map

			const getTableCoordinates = async (address, color, name) => {
                let response = await axios.get(`https://api.tomtom.com/search/2/geocode/${address.replace("/\s/g, ''")}.json?key=Xt9nHjAzfJLpY1CFEFJAmoxtFlBE9gAe`)
                let longitude = response.data["results"][0]["position"]["lon"]
                let latitude = response.data["results"][0]["position"]["lat"] 
				addTableMarker(longitude, latitude, color, name)
            }

			function loadPoints() {
				let test = document.querySelectorAll(".plot-names")
				let addTest = document.querySelectorAll(".plot-address")
				addressList = []
				namesList = []
				let delay = 0;
                let offset = 333;
				for (let i of test) {
					namesList.push(i.textContent)
				}
				for (let item of addTest) {
					addressList.push(item.textContent)
				}
				for (let i = 0; i < addressList.length; i++) {
					setTimeout(() => {
						getTableCoordinates(addressList[i], "rgb(120, 120, 120)", namesList[i]);
					}, (delay += offset))
				}
			}

			// Open and close hidden forms for each table row (Not from Excel Import)

			function showForm(clicked) {
				var hField = document.getElementById(clicked)
				document.querySelector(`div#${hField.id}`).style.display = "block"
			}

			function closeForm(clicked) {
				var cField = document.getElementById(clicked)
				document.querySelector(`div#${cField.id}`).style.display = "none"
			}

			// Edit Excel imports

			function editExcel(excelEdit) {
				let editor = document.getElementById(excelEdit)
				console.log(editor)
			}

			// Delete row of data imported into local storage from excel

			function deleteExcel(excelDelete) {
				let mySpan = document.getElementById(excelDelete).parentElement.parentElement.children[0].innerHTML
				let decodedMySpan = decodeEntities(mySpan) // calling function from below to decode html text
				Object.keys(localStorage).forEach((key) => {
					let storedValue = localStorage.getItem(key)
					let storedObject = JSON.parse(storedValue)
					if (storedObject["name"] === decodedMySpan) {
						localStorage.removeItem(key)
						location.reload()
					}
				})
			}

			function decodeEntities(text) {
				let parser = new DOMParser()
				let decodedElement = parser.parseFromString(text, "text/html")
				return decodedElement.body.textContent
			}

			// Delete All imported excel rows
			function removeAll() {
				const confirmed = window.confirm("Are you sure you want to remove all of your excel imports?")
				if (confirmed) {
					localStorage.clear()
					location.reload()
				}
			} 

        </script>

	</div>
</div>

{% endblock content %}